<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/" />
        <title>Having fun with React-Router!!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/styles/dist/styles.css" >
    </head>
    <body>

        <div id="root"></div>

        <script src="/js/dist/bundle.js"></script>
    </body>
</html>